{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 80,
  "html.format.wrapAttributes": "force-aligned",
  "bracketSameLine": true,
  "bracketSpacing": true
}
