.movie_info {
  padding-block: 3rem;

  &_container {
  }

  &_article {
    display: flex;
    flex-direction: row-reverse;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &_picture {
    flex: 0 0 25%;
    max-width: 100%;
    max-height: 100%;
    min-height: 230px;
    margin-inline: auto;
    text-align: right;

    @media (max-width: 370px) {
      width: 140px;
    }

    @media (max-width: 768px) {
      flex: 0 0 100%;
      width: 160px;
    }

    &__poster {
      width: 100%;
      height: 100%;
      object-fit: cover;
      max-width: 300px;
      aspect-ratio: 2 / 3;
      margin-left: auto;
    }
  }

  &_about {
    flex: 0 0 75%;
    // width: 100%;

    @media (max-width: 768px) {
      flex: 0 0 100%;
    }

    & > * {
      max-width: 700px;
    }

    &__title {
      display: flex;
      align-items: center;

      small {
        font-size: 10px;
        color: var(--clr-gray-500);
      }
    }

    &_details {
      &__more {
        font-size: 12px;
        line-height: normal;
        color: var(--sapTextColor);
        text-decoration: underline;
        cursor: pointer;

        &:hover {
          color: var(--sapLinkColor);
        }
      }
    }
  }
  &__button {
    width: 150px;
  }
}

@media screen and (max-width: 768px) {
  .movie_info {
    padding-block: 1.5rem;
  }
}

@media screen and (max-width: 576px) {
  .movie_info {
    &__button {
      width: 100%;
    }
  }
}
