.search {
  padding-block: 3rem;

  &_container {
    width: clamp(40rem, 65vw, 750px);

    @media (max-width: 580px) {
      width: clamp(200px, 85vw, 720px);
    }
  }

  &_heading {
    max-width: 520px;
    margin-inline: auto;
    text-align: center;
  }

  &__title {
    color: var(--sapNeutralTextColor);
    font-size: calc(1.325rem + 0.9vw);
    font-weight: 700;
  }

  &__subtext {
    color: var(--clr-gray-600);
    font-size: calc(12px + 0.390625vw);
  }

  &_bar {
  }

  &_suggestions {
    position: absolute;
    max-height: calc(36px * 5);
    top: 105%;
    left: 0;
    right: 0;
    padding: 0;
    z-index: 100;

    background-color: var(--sapBaseColor);
    border: 1px solid var(--sapNeutralColor);
    border-radius: var(--_ui5-v1-23-1_input_border_radius);
    overflow: auto;

    &__item {
      padding: 0.5rem;
      cursor: pointer;

      &:hover,
      &.focused {
        background-color: var(--clr-gray-200);
      }

      &:not(:last-child) {
        border-bottom: 1px solid var(--clr-gray-200);
      }
    }
  }
}

.small_text {
  font-size: 0.5rem;
}
/* width */
::-webkit-scrollbar {
  width: 0.25rem;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-width: 768px) {
  .search {
    padding-block: 1.5rem;
  }
}
