.header {
  background-color: var(--sapShell_NeutralColor);
  position: fixed;
  inset: 0;
  height: var(--header-height);
  z-index: 200;

  &__logo {
    height: 40px;
  }

  &__title {
    color: var(--sapBaseColor);
    font-size: var(--size-lg);
    font-weight: 500;
  }

  &_nav {
    display: flex;
    justify-content: start;
    align-items: center;

    &__link {
      display: block;
      padding: var(--size-2xs) var(--size-2xs);
      text-decoration: none;
      background: none;
      border: 0;
      transition:
        color 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out;

      a {
        color: var(--sapActiveColor);
      }

      &:hover a,
      & a.active {
        color: var(--clr-gray-200);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    --header-height: 3.5rem;

    &__logo {
      height: 30px;
    }

    &__title {
      display: none;
    }
  }
}
