.footer {
  background-color: var(--sapShell_NeutralColor);
  height: var(--footer-height);

  &__copy {
    display: block;
    color: var(--sapBaseColor);
    font-size: var(--size-md);
    text-align: center;
  }
}
