:root {
  // Sizing
  --size-base: 1rem;
  --size-mini: 4px;
  --size-tiny: 6px;
  --size-2xs: 8px;
  --size-xs: 12px;
  --size-sm: 14px;
  --size-md: 16px;
  --size-lg: 24px;
  --size-xl: 32px;

  --header-height: 4.5rem;
  --footer-height: 3.5rem;

  // Colors
  --clr-gray: #6c757d;
  --clr-gray-dark: #343a40;
  --clr-gray-100: #f8f9fa;
  --clr-gray-200: #e9ecef;
  --clr-gray-300: #dee2e6;
  --clr-gray-400: #ced4da;
  --clr-gray-500: #adb5bd;
  --clr-gray-600: #6c757d;
  --clr-gray-700: #495057;
  --clr-gray-800: #343a40;
  --clr-gray-900: #212529;
}
